@model IEnumerable<CycleCountSystem__CSS_.Models.TB_Inventory>

@{
    Layout = "";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CCI System - Display Data</title>

    <!-- Custom fonts for this template-->
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="~/Theme/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        @Html.Action("Sidebar", "Home")
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle"
                                     src="~/Theme/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Display Inventory</h1>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Inventory</h6>
                            @using (Html.BeginForm("DeleteAllData", "Inventory", FormMethod.Post, new { id = "deleteAllForm" }))
                            {
                                <div class="text-right">
                                    <button id="deleteAllButton" class="btn btn-danger" type="button">Delate All Data</button>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead style="background-color: #84B6A7">
                                        <tr style="color:aliceblue">
                                            <th>NO</th>
                                            <th>Material ID</th>
                                            <th>Product Description</th>
                                            <th>Batch Number</th>
                                            <th>Storage Bin</th>
                                            <th>Quantity</th>
                                            <th>ITR</th>
                                            <th>Uploader</th>
                                            <th>Action Result</th>
                                        </tr>
                                    </thead>
                                    <tfoot style="background-color: #84B6A7">
                                        <tr style="color:aliceblue">
                                            <th>NO</th>
                                            <th>Material ID</th>
                                            <th>Product Description</th>
                                            <th>Batch Number</th>
                                            <th>Storage Bin</th>
                                            <th>Quantity</th>
                                            <th>ITR</th>
                                            <th>Uploader</th>
                                            <th>Action Result</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            int counter = 1; // Inisialisasi counter untuk nomor urutan
                                        }

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @counter
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id_material)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Mat_description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Batch_number)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Bin)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Qty)
                                                </td>
                                                @{
                                                    Func<string, string> GetITRColorClass = (itr) =>
                                                    {
                                                        decimal result;
                                                        if (!string.IsNullOrEmpty(itr) && decimal.TryParse(itr, out result))
                                                        {
                                                            if (result >= 2.5M && result <= 3.0M)
                                                            {
                                                                return "green-class";
                                                            }
                                                            else if (result >= 1.0M && result <= 2.49M)
                                                            {
                                                                return "yellow-class";
                                                            }
                                                            else if (result >= 0.0M && result <= 0.99M)
                                                            {
                                                                return "blue-class";
                                                            }
                                                        }
                                                        return "default-class";
                                                    };
                                                }

                                                <style>
                                                    .green-class {
                                                        background-color: lightgreen;
                                                    }

                                                    .yellow-class {
                                                        background-color: yellow;
                                                    }

                                                    .blue-class {
                                                        background-color: lightskyblue;
                                                    }

                                                    .default-class {
                                                    }
                                                </style>

                                                <td class="@GetITRColorClass(item.ITR)">
                                                    @Html.DisplayFor(modelItem => item.ITR)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id_akun)
                                                </td>

                                                <td>
                                                    <a href="@Url.Action("Edit", new { id = item.Id_Inventory })" class="btn btn-info">
                                                        <i class="fas fa-fw fa-edit"></i>
                                                    </a>
                                                    |
                                                    <a href="@Url.Action("Delete", new { id = item.Id_Inventory })" class="btn btn-danger">
                                                        <i class="fas fa-fw fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    </tbody>
                                </table>
                                <script>
                                    document.getElementById("deleteAllButton").addEventListener("click", function () {
                                        if (confirm("Apakah Anda yakin ingin menghapus semua data?")) {
                                            document.getElementById("deleteAllForm").submit();
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Logistics Department 2023</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
        <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Theme/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Theme/js/demo/datatables-demo.js"></script>
    </div>
</body>

</html>
